<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Delfinovin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Delfinovin.Properties.Settings>
            <setting name="HideDonationOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultProfiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>DefaultProfile1</string>
                        <string>DefaultProfile2</string>
                        <string>DefaultProfile3</string>
                        <string>DefaultProfile4</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ControllerColor" serializeAs="String">
                <value>Indigo</value>
            </setting>
            <setting name="CalibrationHotkey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartRecordingHotkey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StopRecordingHotkey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BeginPlaybackHotkey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ApplicationTheme" serializeAs="String">
                <value>Fluent</value>
            </setting>
            <setting name="StopPlaybackHotkey" serializeAs="String">
                <value>0</value>
            </setting>
        </Delfinovin.Properties.Settings>
    </userSettings>
</configuration>